.navbar-custom {
  width: 100%;
  max-height: 69px;
  background: #747981;
}

.title-main-navbar {
  color: #ffffff;
  font-size: 36px;
  margin-left: 64px;
  font-weight: bold;
  margin-top: 0px;
}

.navbar-bantuan-button {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
  margin-top: 0px;
  width: 200px;
  height: 40px;
}

.navbar-logout-button {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: right;
  margin-top: 0px;
  width: 105px;
  height: 40px;
  margin-right: 150px;
}
  